---
import Layout from '../layouts/Layout.astro';
import { CldUploadWidget } from 'astro-cloudinary';
import Heading from 'fulldev-ui/components/Heading.astro';
import Button from 'fulldev-ui/components/Button.astro';
---

<Layout title="Welcome to astro">
	<main>
		<Heading contrast={false} color='base'>
			Hackaton Cloudinary
		</Heading>
		<CldUploadWidget uploadPreset='upload-unsigned-images'>
			<Button as='button', color='brand'>Upload</Button>
		</CldUploadWidget>
	</main>
</Layout>

<style>

</style>

<script>

</script>